<a href="https://colab.research.google.com/github/MariaVlasenkova/repo-PNM/blob/main/%D0%A1%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D1%8B_%D0%BE%D0%B1%D1%8A%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
zoo = pd.DataFrame([['elephant', 500], ['tiger', 300], ['zebra',200], ['lion', 420], ['kangaroo', 410]], columns=['animal', 'water_need'])
zoo

     animal  water_need
0  elephant         500
1     tiger         300
2     zebra         200
3      lion         420
4  kangaroo         410

In [3]:
zoo_eats = pd.DataFrame([['elephant','vegetables'], ['tiger','meat'], ['kangaroo','vegetables'], ['zebra','vegetables'], ['giraffe','vegetables']], columns=['animal', 'food'])
zoo_eats

     animal        food
0  elephant  vegetables
1     tiger        meat
2  kangaroo  vegetables
3     zebra  vegetables
4   giraffe  vegetables

#merge

In [7]:
odin = zoo.merge(zoo_eats)
odin

     animal  water_need        food
0  elephant         500  vegetables
1     tiger         300        meat
2     zebra         200  vegetables
3  kangaroo         410  vegetables

#INNER
При выборе INNER JOIN объединяются только те значения, которые можно найти в обеих таблицах.

In [9]:
dva = zoo.merge(zoo_eats, how='inner')
dva

     animal  water_need        food
0  elephant         500  vegetables
1     tiger         300        meat
2     zebra         200  vegetables
3  kangaroo         410  vegetables

# OUTER
В случае же с OUTER JOIN объединяются все значения, даже если некоторые из них есть только в одной таблице.

In [11]:
tri = zoo.merge(zoo_eats, how='outer')
tri

     animal  water_need        food
0  elephant       500.0  vegetables
1     tiger       300.0        meat
2     zebra       200.0  vegetables
3      lion       420.0         NaN
4  kangaroo       410.0  vegetables
5   giraffe         NaN  vegetables

#LEFT
Left заберет все значения из левой таблицы (zoo), но из правой (zoo_eats) использует только те значения, которые есть в левой.

In [12]:
chetre = zoo.merge(zoo_eats, how='left')
chetre

     animal  water_need        food
0  elephant         500  vegetables
1     tiger         300        meat
2     zebra         200  vegetables
3      lion         420         NaN
4  kangaroo         410  vegetables

#RIGHT
Right заберет все значения из правой таблицы (zoo_eats), но из левой (zoo) использует только те значения, которые есть в правой.

In [13]:
pat = zoo.merge(zoo_eats, how='right')
pat

     animal  water_need        food
0  elephant       500.0  vegetables
1     tiger       300.0        meat
2  kangaroo       410.0  vegetables
3     zebra       200.0  vegetables
4   giraffe         NaN  vegetables